@model Salametcom.Models.RegisterViewModel
@{
    ViewBag.Title = "ברוכים הבאים לאתר סלמתכום";
}

@using (Html.BeginForm("הרשמה", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    
        @Html.AntiForgeryToken()
} 
    <div class="navbar pull-right">
        <h2>@ViewBag.Title</h2>
   
        <div class="navbar pull-right"><h4>הרשמה</h4></div>
            <hr />
            @Html.ValidationSummary("", new { @class = "text-danger" })


            <div class="row">
                <div class="col-md-9" align="left">


                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="הרשמה" />
                        </div>
                    </div>
                </div>
            </div>


        </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
